dialog
  box-sizing: border-box
  border: none
  position: absolute
  top: 0
  width: 100%
  height: 100%
  z-index: 1

.light dialog
  background: rgba(255, 255, 255, .92)

.dark dialog
  background: rgba(15, 16, 20, 0.92)

dialog > div
  margin: 10vh auto
  width: min-content
  border-radius: 3px
  overflow: hidden
