@import "basic.sass"

#app
  height: 100vh
  > main
    justify-content: start
    width: calc(100vw - 20em)
    box-shadow: 0 0 0 1px reduce(12)
  > aside
    width: 20em

#app, header, header nav, footer, main, aside, aside li, dialog div
  display: flex
  justify-content: space-between

aside, main
  flex-direction: column

article, main > header
  padding: .75em 2em

aside header, aside li, footer
  padding: .75em 1.5em

main > header, article, aside header, #app > aside li
  box-shadow: 0 0 0 .5px rgba(141.5, 142, 144.5, 0.18) inset

article
  cursor: pointer
  &:hover, &.open
    background: reduce(10)

article > header time
  flex-shrink: 0
  color: reduce(100)

dialog
  main
    padding: 1em 2.5em
  h1, h2
    font-weight: inherit
    text-align: center

.overflow
  overflow: auto

.center
  text-align: center

.grow
  flex-grow: 1

.icon
  width: 2em

.content
  cursor: auto
  > header
    margin: .75em 0

.hover:not(:hover) .hide, .hover:hover .show
  display: none

.red, .blue, .green, .subscribe
  transition: .2s

.subscribe:hover
  color: $green

.red:hover, .red.selected
  background: $red

.blue:hover, .blue.selected
  background: $blue

.green:hover, .green.selected
  background: $green

.buttons
  width: 9em

.edit
  width: 40em
  height: fit-content

.settings
  width: 50em
  height: 28em
  border-radius: 3px
  div
    align-items: center
  button
    min-width: 3em
