aside
  background: reduce(6)
  overflow: auto

aside li
  cursor: pointer
  margin: 0

aside li:hover, aside li.selected
  background: reduce(12)

aside.blue li.selected
  background: #46f
  color: white
