body {
  font: 16px/1.6 "PT Sans", system-ui, sans-serif;
  font-size: calc(0.9em + 0.2vw);
  margin: 0;
  background: light-dark(#ffffff, #1c1d26);
  color: light-dark(#1c1d26, #ffffff);
}

body, dialog {
  width: 100vw;
  height: 100vh;
}

body, header, footer {
  display: flex;
  justify-content: space-between;
}

main, aside, aside nav {
  display: flex;
  flex-direction: column;
}

a {
  color: light-dark(#46f, #27f);
}
a:not(:hover), header a {
  text-decoration: inherit;
}
header a:not(:hover), aside a:not(:hover) {
  color: inherit;
}

button, input {
  all: unset;
}

button {
  cursor: pointer;
}
button:hover {
  color: light-dark(#46f, #27f);
}

a, button, article {
  transition: 0.2s;
}

hr {
  border: 1px dashed;
  margin: 2em 0;
}

blockquote {
  background: rgba(141.5, 142, 146.5, 0.12);
  border-left: 3px solid rgba(141.5, 142, 146.5, 0.8);
  padding: 1px 1.5em;
}

blockquote, figure {
  margin: 1em 0;
}

li, img {
  margin: 0.25em 0;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto;
}

pre {
  background: rgb(49.6363636364, 51.4090909091, 67.3636363636);
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.8em;
  margin: 1.5em 0;
  padding: 0.8em 1.2em;
  overflow-x: auto;
}

code:not(pre code) {
  font-size: 0.9em;
  background: rgba(141.5, 142, 146.5, 0.12);
  color: light-dark(#666, #ddd);
  border-radius: 4px;
  margin: 0 0.1em;
  padding: 0.2em 0.4em;
}

table {
  display: inline-block;
  max-width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
  border-radius: 2px;
}

th, td {
  padding: 0.5em 1em;
  border: 1px solid rgba(141.5, 142, 146.5, 0.3);
}

thead, tr:hover {
  background: rgba(141.5, 142, 146.5, 0.18);
}

dialog {
  background: light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(12px);
  border: none;
  padding: 6% 0;
}
dialog > * {
  margin: auto;
  border-radius: 6px;
}

article {
  cursor: pointer;
}
article:hover {
  background: rgba(141.5, 142, 146.5, 0.1);
}
article div {
  margin: 0.75em 0;
  cursor: auto;
}

aside {
  width: 25%;
  background: rgba(141.5, 142, 146.5, 0.08);
}
aside button {
  padding: 0.75em 1.5em;
}
aside nav button:hover, aside nav button.selected {
  background: rgba(141.5, 142, 146.5, 0.18);
  color: inherit;
}

main {
  width: 75%;
}
main article, main > header {
  padding: 0.75em 2em;
}
main header button:not(:first-child, :last-child) {
  margin: 0 3em;
}
body > main {
  box-shadow: 0 0 0 1px rgba(141.5, 142, 146.5, 0.22);
}

dialog main h2 {
  font-weight: inherit;
  margin: 1.25em auto;
}
dialog main div {
  margin: 0.5em 2.5em;
}
dialog main button, dialog main input {
  background: rgba(141.5, 142, 146.5, 0.16);
  border-radius: 5px;
  padding: 0.5em 1.2em;
}
dialog main button:hover {
  background: rgba(141.5, 142, 146.5, 0.4);
  color: inherit;
}
dialog main input:focus {
  box-shadow: 0 0 0px 1.5px #46f inset;
}

strong, b {
  -webkit-font-smoothing: antialiased;
}

.dark {
  background: #1c1d26;
  color: #ffffff;
}

.gray {
  color: rgb(141.5, 142, 146.5);
}

.red:hover, .red.selected {
  background: #f24;
}

.blue:hover, .blue.selected {
  background: #46f;
}

.green:hover, .green.selected {
  background: #0d3;
}

.spread > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overflow {
  overflow: auto;
}

.grow {
  flex-grow: 1;
  justify-content: inherit;
}

.shadow {
  box-shadow: 0 1px rgba(141.5, 142, 146.5, 0.18);
}
.shadow:hover, .shadow.selected {
  box-shadow: 0 1px rgba(141.5, 142, 146.5, 0.32);
}

.fa, .icon {
  width: 1em;
}

.icon {
  margin: -2px 1em -2px 0;
}

.hover:not(:hover) .hide, .hover:hover .show {
  display: none;
}

.settings {
  display: flex;
}
.settings main button, .settings main input {
  text-align: center;
  width: 3em;
}