$light: #ffffff
$dark: #1c1d26
$red: #f24
$green: #0d3
$blue: #46f

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)

body
  font: 16px / 1.6 "PT Sans", system-ui, sans-serif
  font-size: calc(0.9em + 0.2vw)
  margin: 0

body, dialog
  width: 100vw
  height: 100vh

body, header, footer
  display: flex
  justify-content: space-between

main, section, aside, aside nav
  display: flex
  flex-direction: column

a
  color: inherit
  text-decoration: inherit
  &:hover, section &
    color: #27f
  section &:hover
    text-decoration: underline
  header &
    font-weight: bold
    -webkit-font-smoothing: antialiased

button, input
  all: unset

button
  cursor: pointer
  &:hover
    color: $blue

a, button, article
  transition: .2s

hr
  border: 1px dashed
  margin: 2em 0

blockquote
  background: reduce(12)
  border-left: 3px solid reduce(80)
  padding: 1px 1.5em

blockquote, figure
  margin: 1em 0

li, img
  margin: .25em 0

img
  border-radius: 2px
  max-width: 100%
  height: auto

pre
  background: lighten($dark, 10%)
  color: $light
  border-radius: 5px
  font-size: .8em
  margin: 1.5em 0
  padding: .8em 1.2em
  overflow-x: auto

code:not(pre code)
  font-size: .9em
  background: reduce(15)
  opacity: .7
  border-radius: 4px
  margin: 0 .1em
  padding: .2em .4em

table
  display: inline-block
  max-width: 100%
  overflow-y: auto
  border-collapse: collapse
  border-radius: 2px

th, td
  padding: .5em 1em
  border: 1px solid reduce(30)

thead, tr:hover
  background: reduce(18)

dialog
  backdrop-filter: blur(12px)
  border: none
  padding: 6% 0
  .light &
    background: rgba(255, 255, 255, .2)
  .dark &
    background: rgba(0, 0, 0, .6)
  > *
    margin: auto
    border-radius: 6px

article
  cursor: pointer
  &:hover
    background: reduce(10)
  section
    margin: .75em 0
    cursor: auto

aside
  width: 25%
  background: reduce(8)
  button
    padding: .75em 1.5em
  nav button:hover, nav button.selected
    background: reduce(18)
    color: inherit

main
  width: 75%
  box-shadow: 0 0 0 1px reduce(22)
  article, > header
    padding: .75em 2em
  > header button
    margin-left: 3.5em

dialog section 
  h2
    font-weight: inherit
    margin: 1.25em auto
  div
    margin: .5em 2.5em
  button, input
    background: reduce(16)
    border-radius: 5px
    padding: .5em 1.2em
  button:hover
    background: reduce(40)
    color: inherit
  input:focus
    box-shadow: 0 0 0px 1.5px $blue inset

.light
  background: $light
  color: $dark

.dark
  background: $dark
  color: $light

.gray
  color: reduce(100)

.red:hover, .red.selected
  background: $red

.blue:hover, .blue.selected
  background: $blue

.green:hover, .green.selected
  background: $green

.spread > *
  display: flex
  justify-content: space-between
  align-items: center

.overflow
  overflow: auto

.grow
  flex-grow: 1
  justify-content: inherit

.shadow
  box-shadow: 0 1px reduce(18)
  &:hover, &.selected
    box-shadow: 0 1px reduce(32)

.fa, .icon
  width: 1em

.icon
  margin: -2px 1em -2px 0

.hover:not(:hover) .hide, .hover:hover .show
  display: none

.edit
  width: 35em

.settings
  display: flex
  width: 47em
  height: 27em
  section button, section input
    text-align: center
    width: 3em
