$light: #ffffff
$dark: #1c1d26
$red: #f24
$green: #0d3
$blue: #57f

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)

body
  font: 16px / 1.6 "PT Sans", system-ui, sans-serif
  font-size: calc(0.9em + 0.2vw)
  margin: 0

a
  color: inherit
  text-decoration: inherit
  transition: .2s
  &:hover
    color: reduce(100)
  header &
    font-weight: bold
    -webkit-font-smoothing: antialiased

hr
  border: 1px dashed
  margin: 2em 0

blockquote
  background: reduce(12)
  border-left: 3px solid reduce(80)
  padding: 1px 1.5em

blockquote, figure
  margin: 1em 0

li, img
  margin: .25em 0

img
  border-radius: 2px
  max-width: 100%
  height: auto

pre
  background: lighten($dark, 10%)
  color: $light
  border-radius: 5px
  font-size: .8em
  margin: 1.5em 0
  padding: .8em 1.2em
  overflow-x: auto

code:not(pre code)
  font-size: .9em
  background: reduce(15)
  opacity: .7
  border-radius: 4px
  margin: 0 .1em
  padding: .2em .4em

table
  display: inline-block
  max-width: 100%
  overflow-y: auto
  border-collapse: collapse
  border-radius: 2px

th, td
  padding: .5em 1em
  border: 1px solid reduce(24)

thead, tr:hover
  background: reduce(12)

article
  cursor: pointer
  &:hover
    background: reduce(10)
  > section
    margin: .75em 0
    cursor: auto
    a
      color: $blue

button, input
  all: unset
  transition: .2s

button
  cursor: pointer
  &:hover
    color: reduce(100)

aside
  width: 25%
  background: reduce(8)
  li
    display: flex
    margin: 0
    cursor: pointer
    align-items: center
    &:hover, &.selected
      background: reduce(18)
  header, li, footer
    padding: .75em 1.5em

main
  width: 75%
  box-shadow: 0 0 0 1px reduce(22)
  article, > header
    padding: .75em 2em
  nav
    width: 10em

dialog
  position: absolute
  padding: 0
  backdrop-filter: blur(10px)
  border: none
  z-index: 1
  .light &
    background: rgba(255, 255, 255, .2)
  .dark &
    background: rgba(0, 0, 0, .6)

  > *
    margin: 6% auto
    border-radius: 6px

  h1, h2
    font-weight: inherit
    margin: .75em auto

  button, input
    background: reduce(16)
    border-radius: 5px
    padding: .5em 1.2em

  button:hover
    background: reduce(40)
    color: inherit

  input:focus
    box-shadow: 0 0 0px 1.5px $blue inset

.light
  background: $light
  color: $dark

.dark
  background: $dark
  color: $light

.full
  width: 100vw
  height: 100vh

.flex
  display: flex
  justify-content: space-between

.column
  display: flex
  flex-direction: column

.spread > *
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

.overflow
  overflow: auto

.grow
  flex-grow: 1

.fa, .icon
  width: 1em

.icon
  margin: -2px 1em -2px 0

.meta
  opacity: .6

.shadow
  box-shadow: 0 1px reduce(18)

.shadow:hover, .shadow.selected
  box-shadow: 0 1px reduce(32)

.subscribe:hover
  color: $green

.red:hover, .red.selected
  background: $red

.blue:hover, .blue.selected
  background: $blue

.green:hover, .green.selected
  background: $green

.hover:not(:hover) .hide, .hover:hover .show
  display: none

.edit
  width: 36em
  padding: 1em 0
  div
    margin: 1em 3em
  input
    width: 100%
    margin: .5em 0

.settings
  width: 48em
  height: 28em
  h2
    margin: 1.5em auto
  div
    margin: .5em 2.5em
  aside
    width: 13em
  button, input
    text-align: center
    width: 3em
